/.venv/
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/Lectures/Lecture_09/Untitled.ipynb
/Lectures/Lecture_09/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.idea/vcs.xml
